:root {

    /*Background Color*/
    --background-color-primary: #101010;

    /*Font*/
    --font-size-primary: 16px;
    --font-size-second: 14px;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background-color-primary);
}